[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/libOpenDRIVE"]
	path = external/libOpenDRIVE
	url = https://github.com/pageldev/libOpenDRIVE.git
